body {
  color: #ffffff;
  font-family: var(--Montserrat-Font);
}

.root {
  max-width: 76.25rem;
  padding: 1.5em;
  display: grid;
  grid-gap: 3em;
}

section.profile_container {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
}

div.profile img {
  height: 205px;
  width: 205px;
}

h1.whoami_h1 {
  font-size: 30px;
  font-weight: 600;
}

h1.post_count {
  font-size: 25px;
}

div.posts_container {
  width: 100%;
}

time {
  color: #516387;
  font-size: 16px;
}

p.post_description {
  color: #a3b4d6;
}

hr.post_divider {
  border: none;
  border-top: 2px solid grey;
  border-radius: 5px;
  height: 10px;
}

svg:hover {
  fill: #7e2727;
  cursor: pointer;
}

@media screen and (min-width: 62em) {
  .root {
    display: grid;
    grid-template-columns: 3fr 4fr;
    margin: 7% auto;
  }
}
