@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --Montserrat-Font: "Montserrat", sans-serif;
}

body {
  background-color: rgb(19, 21, 33);
  margin: 0;
}

a:link,
a:visited {
  color: #5452b0;
  text-decoration: underline;
  cursor: pointer;
}

a:link:active,
a:visited:active {
  color: #5452b0;
}

a.no-link {
  color: #ffffff !important;
  text-decoration: none !important;
}
